{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%block title%}
            Django App
        {%endblock%}
    </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    {% block extra_css %}{% endblock %}
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav class="navbar">
        <a href="/"><span role="img" aria-label="Home" title="Home">🏠︎</span></a> |
        <a href="/about"><span role="img" aria-label="About" title="About">ℹ</span></a> |
        <a href="{% url 'posts:list' %}"><span role="img" aria-label="Posts">📰</span></a> |
        <a href="{% url 'posts:new_post' %}" title="New Post"><span role="img" aria-label="New Post">🆕</span></a> |
        <a href="{% url 'math_games:select_level' %}" title="Math Games"><span role="img" aria-label="Math Games">🧮</span></a> |
        <a href="{% url 'sequence_memory:play_game' %}" title="Sequence Memory"><span role="img" aria-label="Sequence Memory">🧠</span></a> |
        <a href="{% url 'number_memory:start_game' %}" title="Number Memory"><span role="img" aria-label="Number Memory">🔢</span></a> |
        <a href="{% url 'typing_test:typing_test' %}" title="Typing Test"><span role="img" aria-label="Typing Test">✍</span></a> |
        <a href="/leaderboards" title="Leaderboard"><span role="img" aria-label="Leaderboard">🏆</span></a> |

        {%if user.is_authenticated%}
            <form class="logout" action="{% url 'users:logout' %}" method="post">
                {% csrf_token %} 
                <button class="logout-button" aria-label="User Logout" title="User Logout">👋</button>
            </form>
        {%else%}
            <a href="{% url 'users:register' %}" title="User Registration"><span role="img" aria-label="User Registration">🚀</span></a> |
            <a href="{% url 'users:login' %}" title="User Login"><span role="img" aria-label="User Login">🔓</span></a> 
        {%endif%}
    </nav>
    <main>
        {%block content%}
        {%endblock%}
        {% block extra_js %}{% endblock %}
    </main>
</body>
</html>