{%extends "base.html"%}

{% load static %}

{%block title%}Home{%endblock%}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{%block content%}
<div class="home-container">
    <h1>Welcome to Brain Games</h1>
    <div class="games-grid">
        <a href="{% url 'math_games:select_level' %}" class="game-box">
            <br>Math Games 🧮
        </a>
        <a href="{% url 'sequence_memory:play_game' %}" class="game-box">
            <br>Sequence Memory 🧠
        </a>
        <a href="{% url 'number_memory:start_game' %}" class="game-box">
            <br>Number Memory 🔢
        </a>
    </div>
</div>
{%endblock%}